.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 330px;
  height: 500px;
  margin: auto;
  border: 1px dotted black;
  background-color: cadetblue;
}
